<launch>
  <arg name="robot" default="ur5"/>

  <arg name="group"        default="manipulator"/>
  <arg name="end_effector" default="endeffector"/>


  <node pkg="moveit_simple_grasps" type="moveit_simple_grasps_server" name="moveit_simple_grasps_server">
    <param name="group"        value="$(arg group)"/> 
    <param name="end_effector" value="$(arg end_effector)"/>

    <rosparam command="load" file="$(find ur_gazebo)/controller/ur5_grasp_data.yaml"/>
  </node>


</launch>
