<?xml version="1.0"?>
<launch>
<arg name="paused" default="false"/>
<arg name="use_sim_time" default="true"/>
<arg name="gui" default="true"/>
<arg name="headless" default="false"/>
<arg name="debug" default="false"/>
<include file="$(find gazebo_ros)/launch/my_world.launch">
  <arg name="world_name" default="worlds/myworld/table_with_coke.world"/>
  <arg name="paused" value="$(arg paused)"/>
  <arg name="gui" value="$(arg gui)"/>
</include>
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_with_hand.urdf'" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
                  args="-urdf -param robot_description -model robot -x 0 -y -0.7 -z 1.2"/>
  <rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml"
  command="load"/>
  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
   args="joint_state_controller"/>
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
       <param name="publish_frequency" type="double" value="50.0" />
       <param name="tf_prefix" type="string" value="" />
   </node>
<!--  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
  args="manipulator_controller gripper_controller"/>-->
  <rosparam file="$(find ur_gazebo)/controller/controllers.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="manipulator_controller" />
  <rosparam file="$(find ur_gazebo)/controller/gripper_controller.yaml" command="load"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" args="gripper_controller"/>
  <node name="gripper_action" pkg="ur5_robotiq_parallel_bringup" type="gripper_action_server.py" />
  <include file="$(find ur5hand_moveit_config)/launch/ur5_moveit_planning_execution.launch"/>

</launch>

